# UIcode


<!DOCTYPE html>
<html ng-app="Sectors">

<head lang="en">
	<meta charset="UTF-8">
	<title>Bread and Bucks</title>
	<!-- <link rel="icon" type="image/png" href="Images/apple.png"> -->
	<link rel="stylesheet" type="text/css" href="mainpage.css">
</head>
<body >

	<main>
		<header>
			<h1 class="titleName">BREAD AND BUCKS</h1>
		</header>
		
		<section  ng-controller="getSector as gs" >
		
			<div class="menu">
				<!-- Button to open the modal login form -->
				<button onclick="document.getElementById('id01').style.display='block'" style="margin-left:70%;">Login</button>

				<!-- The Modal -->
				<div id="id01" class="modal">
					<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

					<!-- Modal Content -->
					<form class="modal-content animate" >
						<div class="imgcontainer">
							<img src="Images/login_img.png" alt="Login Image" class="avatar">
						</div>

						<div class="container">
							<label><b>Username</b></label>
								<input type="text" placeholder="Enter Username" id="uname" required><br>

							<label><b>Password</b></label>
								<input type="password" placeholder="Enter Password" id="psw" required><br>

							<button type="submit" ng-click="gs.login()">Login</button><br>
		
						</div>

						<div class="containercan" >
				
							<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
							
						</div>
					</form>
				</div>

			
			</div>
		
				
		
			<div id="nav-wrapper">
				<ul class="tab tab-pane fade in active">              
					<li><a ng-click="gs.select(1)">HOME</a></li>
					<li><a ng-click="gs.select(2)">MY PAGE </a><li>
					<li><a ng-click="gs.select(3)">SIGN IN</a></li>
					<li><a ng-click="gs.select(4)">ABOUT</a></li>
					<div class="dropdown">
					<li><a> SECTORS &#9662;</a>
						<ul>
						  <div class="dropdown-content">
						  	<li><a>hiiiiiiii</a></li>
							<li ng-repeat="item in content" ng-click="gs.select(5)"><a>{{item.name}}  {{item.symbol}}</a><br></li>

								<li><a>hiiiiiiiiii</a></li>				
								<li><a>hiiiiiiiiiii</a></li>
								
						
							</ul>
						</div>
					</li>
					<div>
					
				</ul>	
	
				</div>
<div class="form">
      

      
        <div id="signup" class="Sgn">   
          <h1>Sign Up for Free</h1>
          
          <form action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>
		  
		    <div class="field-wrap">
              <label>Username<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          
		  
		  


		<div class="field-wrap">
            <label>Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
         </div> 
          
          <div class="field-wrap">
            <label>Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block">Get Started</button>
		</div>
		
          
          </form>

        </div>
        
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->

<!-- /MY PAGE -->
	<div id="mypage">

	<>
	</div>
		</section>
		
	</main>
	<footer>
		<p>
			*DISCLAIMER:
		</p>
	
	</footer>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
	</script>
	<script type="text/javascript">
	var app = angular.module('Sectors', []);
	
	app.controller('getSector', function($scope, $http) {	
			
			var tab,flag;
			this.tab=1;
			this.flag=0;
			
			window.onload=function()
			{
			
				document.getElementById('signup').style.display='none';
				$http.get('http://localhost:8080/RestDemoService/sectorDisplay')
					.then(function(response) {
        $scope.content = response.data;
        
        $scope.statustext = response.status;
		
        
											});
					
			};
			
				this.select = function(setTab) {
                this.tab = setTab;
				if (this.tab === 1)
				{
				 document.getElementById('signup').style.display='none';
				}
				else if (this.tab === 2)
				{
					document.getElementById('signup').style.display='none';
				}
                else if (this.tab === 3)
				{
					document.getElementById('signup').style.display='block';
	
				}
                else if (this.tab === 4)
				{
					document.getElementById('signup').style.display='none';
	
				}
                else if (this.tab === 5)
				{
					document.getElementById('signup').style.display='none';
				
					submit(item.name,item.symbol,'http://localhost:8080/RestDemoService/securityDisplay')
				}
                    
               
                
            };
	

	this.submit = function(UIname,UIsymbol,serviceName) {
	var dummy={
	
	
	}
	
	var varname = {name:UIname,symbol:UIsymbol};
    var jsonv = JSON.stringify(varname);
	console.log(jsonv);
		$http.post(serviceName,jsonv,{'Content':'application/json','Accept':'application/json'})
		.then(function(response){			//Anonymus function for success callback
		
			console.log(response.data);		//Prints success log
			        $scope.prediction = response.data;
			
			
		},function(response){				//Anonymus function for error callback
		
			console.log("There was an error: " + response.status + " " + response.statusText);
											//Prints error log
							});
			
		};
		
		
	this.login=function()
	{ var Uname=document.getElementById('uname');
	  var Upswd=document.getElementById('psw');
	  this.submit(Uname,Upswd,'http://localhost:8080/RestDemoService/securityDisplay');
	
	};
	
	});
</script>
	
</body>
</html>
